# Cleaning Supporter Data
We are cleaning this data set so that we can easily analyze it to understand what the demographics of this non-profits supporter base is. This analyst will be used for targeting audiences better. 

(testing to see if I understand version control in git)

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

In [2]:
data = pd.read_csv('data/full_list_ready.csv')

In [3]:
data.info()
data.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70824 entries, 0 to 70823
Data columns (total 20 columns):
Contact Id            70824 non-null object
Contact Type          70824 non-null object
Primary City          57207 non-null object
Primary Zip           56221 non-null object
Donor                 70824 non-null object
Age                   45993 non-null float64
MaritalStatus         41763 non-null object
RaceName              45993 non-null object
General16             44277 non-null object
General15             29748 non-null object
General14             35810 non-null object
PresPrimary16         33537 non-null object
PresPrimary16Party    33384 non-null object
PresPrimary12         3609 non-null object
PresPrimary12Party    3478 non-null object
Primary17             30829 non-null object
Primary17Party        30828 non-null object
Primary16             33840 non-null object
Primary16Party        33675 non-null object
Partisanship Score    45694 non-null object
dtypes: float64(1), object(19)
memory usage: 10.8+ MB

,Contact Id,Contact Type,Primary City,Primary Zip,Donor,Age,MaritalStatus,RaceName,General16,General15,General14,PresPrimary16,PresPrimary16Party,PresPrimary12,PresPrimary12Party,Primary17,Primary17Party,Primary16,Primary16Party,Partisanship Score
0,VR10T1016Q64,Individual,Chesterfield,23832-2571,N,51.0,M,Caucasian,A,P,P,A,D,NaN,NaN,P,D,A,D,80-100
1,VR10T1016Q72,Individual,Fredericksburg,22407-7367,N,44.0,M,Caucasian,P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80-100
2,VR10T1016Q80,Individual,Clifton,20124-2223,N,56.0,M,Caucasian,P,P,P,P,D,NaN,NaN,P,D,P,D,60-80
3,VR10T1016Q98,Individual,Lexington,24450-4300,N,66.0,M,Caucasian,A,P,NaN,P,D,NaN,NaN,P,D,P,D,60-80
4,VR10T1016QA6,Individual,Lexington,24450-1863,N,61.0,S,Caucasian,P,P,A,P,R,NaN,NaN,NaN,NaN,P,R,80-100

## Initial Observations

- Headers are't optimized for analysis

- Age and Partisanship Score are the incorrect types: Need to be integers

- The last four digits in Zipcode to be deleted for aesthetics

- Remove the following columns as they are not relevant to our demographic analysis:
     - Contact Id
     - Contact Type 
     - General16
     - General15
     - General14
     - PresPrimary16
     - PresPrimary16Party
     - PresPrimary12
     - PresPrimary12Party
     - Primary17
     - Primary17Party
     - Primary16
     - Primary16Party
 
- PartisanShip Score she be changed to integers that reflect a 1-5 scale.
     - 1 = Strong Republican
     - 2 = Weak Republican
     - 3 = Indepedent
     - 4 = Weak Democrat
     - 5 = Strong Democrat
- There are a lot of null values throughout the data. We're to explore removing any incomplete rows.

## Removing Uncessary Columns

In [4]:
columns_to_delete = ['Contact Id','Contact Type','General16','General15','General14','PresPrimary16','PresPrimary16Party','PresPrimary12','PresPrimary12Party','Primary17','Primary17Party','Primary16','Primary16Party']
data.drop(columns_to_delete,axis=1,inplace=True)
data.head(5)

,Primary City,Primary Zip,Donor,Age,MaritalStatus,RaceName,Partisanship Score
0,Chesterfield,23832-2571,N,51.0,M,Caucasian,80-100
1,Fredericksburg,22407-7367,N,44.0,M,Caucasian,80-100
2,Clifton,20124-2223,N,56.0,M,Caucasian,60-80
3,Lexington,24450-4300,N,66.0,M,Caucasian,60-80
4,Lexington,24450-1863,N,61.0,S,Caucasian,80-100

## Renaming Columns

We will rename the columbs by creating a list of the old columns and use .copy() to assign it to a new list to be modified.

In [5]:
old_columns = data.columns
new_columns = old_columns.copy

In [6]:
print(new_columns)

<bound method Index.copy of Index(['Primary City', 'Primary Zip', 'Donor', 'Age', 'MaritalStatus',
       'RaceName', 'Partisanship Score'],
      dtype='object')>

In [7]:
new_columns = ['primary_city', 'zipcode', 'donor', 'age', 'marital_status', 'race', 'partisanship_score']
data.columns = new_columns

In [8]:
data.head(2)

,primary_city,zipcode,donor,age,marital_status,race,partisanship_score
0,Chesterfield,23832-2571,N,51.0,M,Caucasian,80-100
1,Fredericksburg,22407-7367,N,44.0,M,Caucasian,80-100

## Exploring removing incomplete columns

We can conclude that if we remove all null values from our data, we lose a significant portion of our data. However, this gives us only supporters who have a complete demographic profile.

In [9]:
test_data_after_removal = data.dropna(axis=0)
test_data_after_removal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38058 entries, 0 to 70822
Data columns (total 7 columns):
primary_city          38058 non-null object
zipcode               38058 non-null object
donor                 38058 non-null object
age                   38058 non-null float64
marital_status        38058 non-null object
race                  38058 non-null object
partisanship_score    38058 non-null object
dtypes: float64(1), object(6)
memory usage: 2.3+ MB

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70824 entries, 0 to 70823
Data columns (total 7 columns):
primary_city          57207 non-null object
zipcode               56221 non-null object
donor                 70824 non-null object
age                   45993 non-null float64
marital_status        41763 non-null object
race                  45993 non-null object
partisanship_score    45694 non-null object
dtypes: float64(1), object(6)
memory usage: 3.8+ MB

In [11]:
data = test_data_after_removal

## Converting partisanship_score

Converting the partisanship score to a scale of integers will allow us to run further analysis on our supporters.

In [12]:
data['partisanship_score'].unique()

array(['80-100', '60-80', '40-60', '0-20', '20-40'], dtype=object)

In [13]:
mapping_dict = {
    '80-100': 5,
    '60-80': 4,
    '40-60': 3,
    '20-40': 2,
    '0-20': 1,
 }
data['partisanship_score']= data['partisanship_score'].map(mapping_dict)
data['partisanship_score'].unique()

array([5, 4, 3, 1, 2])

## Converting partisanship_score & age to integers

partisanship_score is currently an object and age is currently a float. We need to turn them both into integers for our analysis.

In [14]:
data['partisanship_score'] = data['partisanship_score'].astype(float)

In [15]:
data['partisanship_score'] = data['partisanship_score'].astype(int)

In [16]:
data['age'] = data['age'].astype(int)

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38058 entries, 0 to 70822
Data columns (total 7 columns):
primary_city          38058 non-null object
zipcode               38058 non-null object
donor                 38058 non-null object
age                   38058 non-null int64
marital_status        38058 non-null object
race                  38058 non-null object
partisanship_score    38058 non-null int64
dtypes: int64(2), object(5)
memory usage: 2.3+ MB

## Delete the '-' and last four digits off of zipcode

Use the str.split method to split the zipcode on the '-' and select every row in the first column.

In [18]:
data['zipcode'] = data['zipcode'].str.split('-',expand=True).iloc[:,0]

## Converting Donor to dtype boolean

convering the 'donor' column into a boolean dtype will make analysis easier in the second half of this project. If a supporter has donated, the donor column = True, if they have not, donor = False.

In [19]:
data['donor'].value_counts()

N    35134
Y     2924
Name: donor, dtype: int64

In [20]:
mapping_dict_2 = {
    "Y":True,
    "N":False
}
data['donor'] = data['donor'].map(mapping_dict_2)

## Converting Married to dtype boolean

convering the 'married' column into a boolean dtype will make analysis easier in the second half of this project, If a supporter has married, the married column = True, if they have not, married = False.

In [21]:
data['marital_status'].value_counts()

M    21293
S    16765
Name: marital_status, dtype: int64

In [22]:
mapping_dict_3 = {
    "M":True,
    "S":False
}
data['marital_status'] = data['marital_status'].map(mapping_dict_3)

In [25]:
data.to_csv('data/cleaned_supporter_data.csv')

## The data is now cleaned and prepared for the analysis portion of this project.